<div class="board">
    <div class="cards">
        <div class="flop" ng-if="$ctrl.flop">
            <div class="card-holder">
                <card ng-repeat="card in $ctrl.flop track by $index"
                      value="{{card.value}}"
                      symbol="{{card.symbol}}">
                </card>
            </div>
            <div>Flop</div>
        </div>
        <div class="turn" ng-if="$ctrl.turn">
            <div class="card-holder">
                <card value="{{$ctrl.turn.value}}"
                      symbol="{{$ctrl.turn.symbol}}">
                </card>
            </div>
            Turn
        </div>
        <div class="river" ng-if="$ctrl.river">
            <div class="card-holder">
                <card value="{{$ctrl.river.value}}"
                      symbol="{{$ctrl.river.symbol}}">
                </card>
            </div>
            River
        </div>
    </div>
</div>